
node_modules/
.env

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/


# build
dist
build
# logs
*.log

# vite
client/dist

# server build
server/dist